@media (prefers-color-scheme: dark) {
  body {
    @extend .color-scheme-dark-mode;
  }

  .color-scheme-dark-mode {
    background: #333;
    color: #fff;

    a, a:visited {
      color: #fff;

      &:hover {
        color: #fff;
      }
    }

    a.btn-link:hover {
      background: #3c3c3c;
    }

    .form-input, .form-group input, .ce_form .widget:not(.widget-checkbox):not(.widget-radio) input,
    .form-select:not([multiple]):not([size]), .form-group select:not([size]):not([multiple]), .ce_form .widget:not(.widget-checkbox):not(.widget-radio) select:not([size]):not([multiple]),
    .form-select, .form-group select, .ce_form .widget:not(.widget-checkbox):not(.widget-radio) select, textarea {
      background: #3c3c3c;
      color: #fff;
    }

    .form-checkbox .form-icon, .form-radio .form-icon {
      background: #3c3c3c;
    }

    .bg-white {
      background-color: #333;
      color: #fff;
    }

    .calendar, .minicalendar {
      th, td {
        background: #3c3c3c;
        color: #fff;
      }

      td.active {
        color: #fff;

        a {
          color: #fff;
        }
      }
    }

    .ce_tabsStartElement h3, h3 {
      color: #fff;
    }

    .checkbox_container>div, .radio_container .form-group>div, .ce_code .code code, .btn:not(.btn-primary):not(.btn-link):not(.btn-success):not(.btn-error),
    .table.table-striped tbody tr:nth-of-type(odd) {
      background: #3c3c3c;
      color: #fff;
    }

    footer .ce_hyperlink.bg-white {
      background-color: #fff;
    }

    .hero.quote {
      h1, h2, h3, h4, h5, h6 {
        color: #fff;
      }
    }

    .icon-more {
      background-image: url(/bundles/contaothemesnetzeroonetheme/img/more_white.svg);
    }

    input {
      background: #3c3c3c;
      color: #fff;
    }

    .layout_short, .layout_list {
      .inside {
        background: #3c3c3c;
        color: #fff;
      }
    }

    .mod_eventlist {
      .time, .header {
        color: #c3c3c3;
      }
    }

    .mod_newslist {
      h2, h3, h4, h5, h6 {
        color: #fff;
      }

      .info {
        color: #c3c3c3;
      }
    }

    .navbar ul.level_1>li>a {
      color: #000;
    }

    .navbar ul.level_3>li>a {
      color: #000;
    }

    .pagination .page-item a:hover {
      color: #fff;
      text-decoration: underline;
    }

    .tab .tab-item.active a, .tab .tab-item a.active {
      color: #fff;
    }

    .tabs figure>div {
      color: #fff;
    }
  }
}
