$zeroOneColor_1: #000;
$zeroOneColor_2: #00B09B;
$zeroOneColor_3: #96C93D;
$zeroOneColor_4: #00B09B;

$body-bg: #fff;
$body-font-color: #000;

$link-color: #fff;

$boxes-background: darken($body-bg, 5%);

.mod_newslist .column {
  &:nth-child(odd) img {
    filter: invert(0) sepia(0) hue-rotate(30deg) saturate(1.3) brightness(0.8);
  }

  &:nth-child(even) img {
    filter: invert(0) sepia(0) hue-rotate(130deg) saturate(1.3) brightness(0.8);
  }
}

.news-image img {
  filter: invert(0) sepia(0) hue-rotate(30deg) saturate(1.3) brightness(0.8);
}

.mod_eventlist img, .event-image img {
  filter: invert(0) sepia(0) hue-rotate(130deg) saturate(1.3) brightness(0.8);
}

.quote img {
  filter: invert(0) sepia(0) hue-rotate(130deg) saturate(1.3) brightness(0.8);
}

.ce_ct_teaserBox img {
  filter: invert(0) sepia(0) hue-rotate(30deg) saturate(1.2) brightness(90%);
}

.ce_tabsStartElement img {
  filter: invert(0) sepia(0) hue-rotate(160deg) saturate(1) brightness(1);
}

.parallax-body {
  filter: invert(0) sepia(0) hue-rotate(100deg) saturate(.7) brightness(0.9);
}
