div.mod_article[class*=' bg-'] {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    width: 100vw;
    height: 100%;
    left: calc(0px - ((100vw - calc(100%)) / 2));
    z-index: -1;
  }

  > .content-text {
    h1, h2, h3, h4, h5, h6 {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.mod_article.bg-primary:before {
  background-color: $primary-color;
}

.mod_article.bg-secondary:before {
  background-color: $secondary-color;
}

.mod_article.bg-dark:before {
  background-color: $dark-color;
}

.mod_article.bg-gray:before {
  background-color: $gray-color;
}

.mod_article.bg-light:before {
  background-color: $light-color;
}

.mod_article.bg-success:before {
  background-color: $success-color;
}

.mod_article.bg-warning:before {
  background-color: $warning-color;
}

.mod_article.bg-error:before {
  background-color: $error-color;
}

.mod_article.bg-zeroone-2:before {
  background-color: $zeroOneColor_2;
}

.mod_article.bg-zeroone-3:before {
  background-color: $zeroOneColor_3;
}

.mod_article.bg-zeroone-4:before {
  background-color: $zeroOneColor_4;
}
