div[class*=' bg-'] {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    width: 100vw;
    height: 100%;
    left: calc(0px - ((100vw - calc(100%)) / 2));
    z-index: -1;
  }

  h1, h2, h3, h4, h5, h6 {
    &:first-child {
      margin-top: 0;
    }
  }
}

.bg-primary:before {
  @extend .bg-primary;
}

.bg-secondary:before {
  @extend .bg-secondary;
}

.bg-dark:before {
  @extend .bg-dark;
}

.bg-gray:before {
  @extend .bg-gray;
}

.bg-light:before {
  @extend .bg-light;
}

.bg-success:before {
  @extend .bg-success;
}

.bg-warning:before {
  @extend .bg-warning;
}

.bg-error:before {
  @extend .bg-error;
}

.bg-zeroone-2:before {
  background-color: $zeroOneColor_2;
}

.bg-zeroone-3:before {
  background-color: $zeroOneColor_3;
}

.bg-zeroone-4:before {
  background-color: $zeroOneColor_4;
}
