.ce_gallery {
  .cols_2 li {
    width: calc(100% / 2);
  }
  .cols_3 li {
    width: calc(100% / 3);
  }
  .cols_4 li {
    width: calc(100% / 4);
  }
  .cols_5 li {
    width: calc(100% / 5);
  }
  .cols_6 li {
    width: calc(100% / 6);
  }
  .cols_7 li {
    width: calc(100% / 7);
  }
  .cols_8 li {
    width: calc(100% / 8);
  }
  .cols_9 li {
    width: calc(100% / 9);
  }
  .cols_10 li {
    width: calc(100% / 10);
  }
  .cols_11 li {
    width: calc(100% / 11);
  }
  .cols_12 li {
    width: calc(100% / 12);
  }

  .image_container {
    padding: 10px;
  }

  img {
    vertical-align: bottom;
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }
}
