.btn {
  border-radius: 25px;
  padding: 5px 60px;
  display: flex;
  align-items: center;
  min-height: 50px;
  font-weight: 500;
  border: none;
  max-width: 100%;
  flex-wrap: wrap;
  white-space: inherit;
  line-height: 1.2;
  height: inherit;
}

@media (max-width: 600px) {
  .btn {
    padding: 10px 20px;
  }
}
