.ce_downloads ul, .ce_download p {
  padding-left: 25px;
}

.ce_download .download-element:before {
  left: 0;
}

.download-element {
  position: relative;
  list-style: none;

  &:before {
    content: "↓";
    position: absolute;
    left: -25px;
    top: 3px;
    font-size: 1.5em;
  }

  a {
    padding: 10px 0;
    display: block;
    word-break: break-word;
  }
}
