.mod_eventlist {
  .ce_text {
    padding: 0;
  }

  .event {
    margin-bottom: 40px;

    &.layout_upcoming {
      margin-bottom: 0;

      a {
        font-weight: 700;
      }
    }
  }

  h2, h3, h4, h5, h6 {
    font-size: 0.95em;
    margin-top: 10px;

    a {
      color: $body-font-color;
    }
  }

  .header {
    margin-top: 1em;
  }

  .icon {
    width: 34px;
  }

  .more {
    margin: 0;
  }

  .time, .header {
    color: $body-font-color;
    font-size: 14px;
    font-style: italic;
  }

  .time {
    margin-top: 0;
  }
}

.layout_list {
  .inside {
    background: $boxes-background;
    padding: 25px;
    height: 100%;
  }
}

.layout_upcoming a {
  color: $body-font-color;
}
