.mod_newslist {
  .column {
    margin-bottom: 30px;
  }

  h2, h3, h4, h5, h6 {
    font-size: 0.95em;
  }

  img {
    width: 100%;
  }

  .info {
    color: $gray-color;
    margin: 10px 0 -5px;
    font-size: 12px;
    font-style: italic;
  }

  .more {
    margin:0;
    .icon {
      width: 34px;
    }
  }
}

.layout_latest, .layout_short {
  .ce_text {
    padding-bottom: 0;
  }
}

.layout_short {
  .info {
    margin-top: 0;
  }

  .inside {
    background: #f7f7f7;
    padding: 25px;
    height: 100%;
  }
}

.layout_simple a {
  font-weight: 700;
}
