.mod_search {
  .form-input, .form-group input {
    border-radius: $border-radius;
  }

  h2, h3, h4, h5, h6 {
    font-size: 22px;
  }

  &.header-search {
    margin-left: 20px;

    .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .close-search {
      display: none;
      width: 35px;
      font-size: 80px;
      color: $zeroOneColor_1;
      transform: rotate(45deg);
      line-height: 1;
      margin-top: -25px;

      &:hover {
        text-decoration: none;
      }
    }

    .open-search {
      img {
        width: 35px;
      }
    }

    form {
      display: none;
    }

    .form-group:not(:last-child) {
      margin-bottom: 0;
    }

    .formbody {
      display: flex;
      align-items: center;
    }

    .form-input {
      width: 280px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .submit {
      margin-top: 0;
      text-transform: lowercase;
    }
  }

  mark {
    background-color: $primary-color-light;
  }

  p.header {
    margin: 20px 0 50px;
    border-top: 1px solid $gray-color-light;
    padding-top: 20px;
  }

  .relevance {
    font-size: 16px;
  }

  .widget-radio {
    margin-top: 10px;
  }
}

#search:target {
  display: none;

  ~ .close-search {
    display: block;
  }

  ~ form {
    display: block;
    position: absolute;
    right: 95px;
    margin-top: 80px;
  }
}

.homepage #search:target ~ form {
  margin-top: 20px;
}

#close-search:target {
  display: none;

  form {
    display: none;
  }

  .open-search {
    display: block;
  }
}

@media (max-width: $mobile-navbar-breakpoint) {

  .header-search.block {
    display: none;
  }

  .level_1 .search .header-search {
    display: block;

    .btn.btn-primary {
      background: $zeroOneColor_2;
    }

    form {
      display: block;
    }
  }

  .mod_search.header-search {
    margin: 0 10px 20px;

    .widget-text {
      width: 75%;

      input {
        width: 100%;
      }
    }

    .widget-submit {
      width: 25%;

      button {
        padding: 0 12px;
      }

      .submit {
        width: 100%;
        justify-content: center;
        height: 50px;
      }
    }
  }

}
