.tabs {
  width: 100%;
  padding: 0 50px;
  figure {
    display: block;
    margin-left: 0;
    clear: both;
  }

  > input,
  figure > div { display: none; }

  figure > div {
    padding: 20px;
    width: 100%;
    line-height: 1.5em;
    letter-spacing: 0.3px;
    color: #444;
  }

  nav label {
    float: left;
    padding: 15px 15px;
    border-top: 1px solid silver;
    border-right: 1px solid silver;
    background: hsl(210,50%,50%);
    color: #eee;
  }

  nav label:nth-child(1) { border-left: 1px solid silver; }
  nav label:hover { background: hsl(210,50%,40%); }
  nav label:active { background: #ffffff; }

  #tab1:checked ~ figure .tab1,
  #tab2:checked ~ figure .tab2,
  #tab3:checked ~ figure .tab3 { display: block; }

  #tab1:checked ~ nav label[for="tab1"],
  #tab2:checked ~ nav label[for="tab2"],
  #tab3:checked ~ nav label[for="tab3"] {
    background: white;
    color: #111;
    position: relative;
    border-bottom: none;
  }

  #tab1:checked ~ nav label[for="tab1"]:after,
  #tab2:checked ~ nav label[for="tab2"]:after,
  #tab3:checked ~ nav label[for="tab3"]:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    left: 0;
    bottom: -1px;
  }
}

.tab.tab-block {
  padding: 0;

  .tab-item a {
    pointer-events: none;
    padding: 0;
    border-bottom: 6px solid transparent;
    margin-bottom: -1px;

    &.active {
      border-color: transparent;
    }

    &:hover {
      border-bottom: 6px solid $dark-color;
    }

    label {
      pointer-events: all;
      cursor: pointer;
      width: 100%;
      display: block;
      padding: 0.4rem 0.2rem 0.3rem 0.2rem;
    }
  }

  .tab-item.active a {
    border-bottom: 6px solid #F6D365;
    margin-bottom: -1px;
  }
}
