.ce_tabsStartElement h3 {
  color: #000;
  font-size: 20px;
}

.tabs {
  width: 100%;
  padding: 0;
  margin: 0;

  a:hover label {
    color: #ff8562;
  }

  figure {
    display: block;
    margin-left: 0;
    clear: both;
    margin-bottom: 50px;
  }

  > input,
  figure > div { display: none; }

  figure > div {
    padding: 20px;
    width: 100%;
    line-height: 1.5em;
    letter-spacing: 0.3px;
    color: #444;
  }

  label {
    border-bottom: 6px solid transparent;
  }

  nav label {
    float: left;
    padding: 15px 15px;
    border-top: 1px solid silver;
    border-right: 1px solid silver;
    background: hsl(210,50%,50%);
    color: #eee;
  }

  nav label:nth-child(1) { border-left: 1px solid silver; }
  nav label:hover { background: hsl(210,50%,40%); }
  nav label:active { background: #ffffff; }

  #tab1:checked ~ figure .tab1,
  #tab2:checked ~ figure .tab2,
  #tab3:checked ~ figure .tab3 { display: block; }

  #tab1:checked ~ .tab label[for="tab1"],
  #tab2:checked ~ .tab label[for="tab2"],
  #tab3:checked ~ .tab label[for="tab3"] {
    background: white;
    color: #111;
    position: relative;
    border-bottom: 6px solid #F6D365;
  }
}

.tab.tab-block {
  width: 100%;
  padding: 0 150px;

  .tab-item a {
    label {
      cursor: pointer;
      width: 100%;
      display: block;
      padding: 0.4rem 0.2rem 0.3rem 0.2rem;
    }
  }
}

.tab .tab-item.active a, .tab .tab-item a.active {
  border: none;
  padding: 0;
}

.tab .tab-item a {
  border: none;
  padding: 0;

  &:focus {
    box-shadow: none;
  }
}
