{% extends "@Contao/content_element/text.html.twig" %}

{% block content %}
  <{% block wrapper_tag %}div{% endblock %} class="column parallax-body" style="background-image:url()">
    {# Richtext #}
    {% block text %}
      {% set text_attributes = attrs(text_attributes|default).addClass('rte') %}

      <div{% block text_attributes %}{{ text_attributes }}{% endblock %}>
        {{ text|insert_tag|raw }}
      </div>

    {% endblock %}
  </{{ block('wrapper_tag') }}>

  {% set elementStyles = ['_hero', 'contao/hero'] %}
  {{ elementStyles|addToThemeStyles}}
{% endblock %}
