.hero {
  background: transparent linear-gradient(119deg, #F6D365 0%, #FF8562 100%) 0% 0% no-repeat padding-box;
  opacity: 1;

  .ce_text {
    background-image:url(../img/bubbles.svg);
    background-position: center center;
  }
}