// reset
figure {
  margin:0;
}

// contao related style
.invisible {
  display: none !important;
  visibility: hidden;
}

h3 {
  color: $primary-color-dark;
  font-size: 2.2em;
}

.mod_article {
  max-width: 1200px;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.mod_newslist {
  h2 {
    font-size: 0.95em;
  }

  .more {
    margin:0;
    .icon {
      width: 34px;
    }
  }

  .layout_latest .ce_text {
    padding-bottom: 0;
  }
}

.ce_text,
.ce_headline {
  padding-bottom: 1em;
}

.page-footer {
  color: $light-color;
  font-size: .7rem;

  a {
    color: $light-color;
    text-transform: uppercase;
  }

  .icon {
    height: 3em;
    width: 3em;
  }

  nav {
    ul {
      display: flex;
      li {
        display: flex;
        &:after {
          content: " | ";
          padding: 0px 15px;
        }
        &:last-child:after {
          content: "";
        }
        strong {
          text-transform: uppercase;
          font-weight: normal;
        }
      }
    }
  }
}

.ce_ct_teaserBox {
  padding-bottom: 2em;
  .inside {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    h1, h2, h3, h4, h5, h6 {
      width: 30%;
      text-align: right;
      padding-right: 5%;
      font-size: 1.8em;
    }

    p {
      width: 65%;
    }

    a {
      color: inherit;
    }

    .pageLink {
      width: 100%;
      margin-left: 30%;
      a {
        min-width: 245px;
      }
    }
  }

  &.image-right {
    h1, h2, h3, h4, h5, h6 {
      width: 65%;
      text-align: left;
      padding-right: 5%;
    }

    p {
      width: 65%;
      padding-right: 5%;
    }

    figure {
      width: 35%;
    }
    .pageLink {
      margin-left: 0;
    }
  }
}

// zero one styles
em {
  color: $light-color;
  background: $dark-color;
  padding: 2px 5px;
}
.icon {
  box-sizing: border-box;
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  height: 1em;
  position: relative;
  text-indent: -9999px;
  vertical-align: middle;
  width: 1em;
}

.icon-facebook {
  background-image:url(/bundles/contaothemesnetzeroonetheme/img/icon_facebook.svg);
}

.icon-instagram {
  background-image:url(/bundles/contaothemesnetzeroonetheme/img/icon_instagram.svg);
}

.icon-linkedin {
  background-image:url(/bundles/contaothemesnetzeroonetheme/img/icon_linkedin.svg);
}

.icon-twitter {
  background-image:url(/bundles/contaothemesnetzeroonetheme/img/icon_twitter.svg);
}

.icon-youtube {
  background-image:url(/bundles/contaothemesnetzeroonetheme/img/icon_youtube.svg);
}

.icon-more {
  background-image:url(/bundles/contaothemesnetzeroonetheme/img/more.svg);
}

.bg-sunrise {
  background: transparent linear-gradient(99deg, #F6D365 0%, #FF8562 100%) 0% 0% no-repeat padding-box;
  .ce_text, .ce_headline {
    color: $dark-color;
  }
  em {
    color: $light-color;
  }
}

.bg-darkgrey {
  background: #282828 0% 0% no-repeat padding-box;
}

.bg-white {
  background: $bg-color-light 0% 0% no-repeat padding-box;
}

.logo-text-white img path {
  fill: $light-color;
  fill-rule: evenodd;
}

.hero {
  opacity: 1;
  max-width: inherit;
  min-height: 1080px;
  padding-top: 270px;

  .hero-body {
    background-image:url(/bundles/contaothemesnetzeroonetheme/img/bubbles.svg);
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 729px;
  }

  &.quote {
    min-height: 500px;
    .ce_text {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &.quote {
    h2,h3,h4,h5 {
      position: absolute;
      width: 50%;
      font-size: 2em;
      font-style: italic;
    }
    p {
      display: none;
    }
  }

  &.parallax {
    color: $light-color;
    min-height: inherit;
    .hero-body {
      min-height: inherit;
    }
    h2,h3,h4,h5 {
      font-size: 1.5em;
      margin: 0;
    }
    .parallax-body {
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-attachment: fixed;
      background-size: 100%;
      background-repeat: no-repeat;
      p {
        font-size: 1em;
      }
    }
  }
}

.tabs {
  width: 100%;
  padding: 0 50px;
  figure {
    display: block;
    margin-left: 0;
    clear: both;
  }

  > input,
  figure > div { display: none; }

  figure > div {
    padding: 20px;
    width: 100%;
    line-height: 1.5em;
    letter-spacing: 0.3px;
    color: #444;
  }

  nav label {
    float: left;
    padding: 15px 15px;
    border-top: 1px solid silver;
    border-right: 1px solid silver;
    background: hsl(210,50%,50%);
    color: #eee;
  }

  nav label:nth-child(1) { border-left: 1px solid silver; }
  nav label:hover { background: hsl(210,50%,40%); }
  nav label:active { background: #ffffff; }

  #tab1:checked ~ figure .tab1,
  #tab2:checked ~ figure .tab2,
  #tab3:checked ~ figure .tab3 { display: block; }

  #tab1:checked ~ nav label[for="tab1"],
  #tab2:checked ~ nav label[for="tab2"],
  #tab3:checked ~ nav label[for="tab3"] {
    background: white;
    color: #111;
    position: relative;
    border-bottom: none;
  }

  #tab1:checked ~ nav label[for="tab1"]:after,
  #tab2:checked ~ nav label[for="tab2"]:after,
  #tab3:checked ~ nav label[for="tab3"]:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    left: 0;
    bottom: -1px;
  }
}

.navbar {
  position: relative;
  width: 100%;
  padding: 0 95px;

  .mod_article {
    padding: 0;
  }

  ul {
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      display: flex;
      font-size: 1.2em;
      text-transform: uppercase;
      padding: 0 1em;
      position: relative;

      a,strong {
        color: $dark-color;
        font-weight: bold;
      }

      &.active:after {
        position: absolute;
        width: 10px;
        top: -25px;
        left: 50%;
        margin-left: -5px;
        border-radius: 60px;
        padding: 8px;
        content: " ";
        background: $dark-color;
      }

      &:first-child {
        margin-right: 4em;
      }

      &:hover > ul {
        display: block;
      }
    }

    .level_2, .level_3 {
      display: none;
      position: absolute;
      background-size: auto;
      background-repeat: no-repeat;

      li {
        width: 100%;
        text-align: center;
        a {
          margin: auto;
          font-size: 0.7em;
          text-transform: initial;
        }
      }
    }

    .level_2 {
      margin-left: -77px;
      margin-top: 30px;
      background-image: url(/bundles/contaothemesnetzeroonetheme/img/navbar_level_2.svg);
      a {
        color: $light-color;
      }
    }
    .level_3 {
      margin-left: 100px;
      margin-top: -30px;
      background-image:url(/bundles/contaothemesnetzeroonetheme/img/navbar_level_3.svg);
      a {
        color: $dark-color;
      }
    }

  }

  .logo img {
    padding-top: 19px;
    width: 132px;
    height: auto;
  }
}

.homepage .navbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  &.bg-sunrise {
    background: none;
  }

  .logo img {
    width: inherit;
  }
}

#btnScrollTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
